<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NewWilliamExpress</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Main Page
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sell">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sell Page
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="selleritems">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Seller Items Page
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Customer page
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shippingaddress">
                <span class="oi oi-list-rich" aria-hidden="true"></span> View Shipping Address
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="createorder">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create New Order
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
